/* --------------------------------------
1. GLOBAL STYLES
    1.1 GLOBAL

    1.2 Helper Classes

    1.3 Fullscreen Menu

    1.4 Custom hover animation


2. SECTION STYLES
    2.1 SECTION: Header

    2.2 SECTION: About Us
-----------------------------------------*/

/* ========================================================================
  1.1 Component: GLOBAL
 ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
li {
  list-style: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #9a5341;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #9a5341;
  color: #fff;
  text-shadow: none;
}

/* ==========================================================================
   1.2 Helper classes
   ========================================================================== */
.main-bg {
  background: #9a5341;
}
.main-color {
  color: #9a5341;
}
.white-color {
  color: #fff;
}
.logo{
  width:55%;
  height:auto;
}
a{
  outline: none !important;
}

.icon-prev.icon-arrow-left {
    color: #fff !important;
}

.icon-next.icon-arrow-right {
    color: #fff !important;
}
.button {
  padding: 20px 60px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  text-shadow: none;
  outline: none;
  border: 0;
}
.button:hover {
  cursor: pointer;
  color: #fff;
}
.button.light {
  padding: 19px 59px;
}
.line {
  width: 80px;
  height: 2px;
  margin-top: 15px;
}
.button.light {
  border: 2px solid #eeeeee;
}
.padding-large {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding-top-large {
  padding-top: 90px;
}
.margin-top-large {
  margin-top: 90px;
}
.margin-bottom-large {
  margin-bottom: 90px;
}
.margin-top-medium {
  margin-top: 40px;
}
.margin-bottom-medium {
  margin-bottom: 40px;
  margin-top: 40px;
}
.margin-bottom-small {
  margin-bottom: 25px;
}
.margin-right-small {
  margin-right: 15px;
}
.margin-left-small {
  margin-left: 15px;
}
.mat-none {
  margin-top: 0;
}
.mab-none {
  margin-bottom: 0;
}
.mar-none {
  margin-right: 0;
}
.mal-none {
  margin-left: 0;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
/* ========================================================================
 1.3 Component: Fullscreen menu
 ========================================================================== */
.top-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: #fff !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-225deg);
}
.top-menu,
.mid-menu,
.bottom-menu {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background-color: #fff;
}
.top-menu {
  top: 5px;
}
.mid-menu {
  top: 13px;
}
.bottom-menu {
  top: 21px;
}
.menui {
  background: #9a5341;
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(0.75, 0, 0.29, 1.01);
  margin-top: 10px;
  position: absolute;
}
.menu-trigger {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width: 32px;
  margin: 0px;
  top: 45px;
  right: 115px;
}
.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(154, 83, 65, 0.9);
  text-transform: uppercase;
}
.mobilenav li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  font-size: 220%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}
.mobilenav li:last-child span {
  border-bottom: none;
}
.mobilenav li:hover {
  cursor: pointer;
}
.mobilenav li a{
  color: #fff;
}
.nav-label {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: block;
  width: 350px;
  margin: 0 auto;
}
.mobilenav li:first-child {
  margin-top: 60px;
}
/* ========================================================================
 1.4 Hover animation by hover.css
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(231, 76, 60, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* General button style (reset) */
.portfolio-wrapper .button {
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}
.portfolio-wrapper .button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #fff;
  color: #fff;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.portfolio-wrapper .button:hover,
.button:active {
  color: #fff;
}
.portfolio-wrapper .button:hover:after {
  height: 260%;
  opacity: 1;
}
.portfolio-wrapper .button:active:after {
  height: 400%;
  opacity: 1;
}
/* ========================================================================
  2.1 Component: Header
 ========================================================================== */
header {
  position: relative;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/slider-overlay.png) repeat;
}
header .carousel,
header .item,
header .active {
  height: 100%;
}
.carousel-inner {
  min-height: 200px;
  height: 100%;
}
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.carousel-indicators li {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 0;
  background: #fff;
}
.carousel-indicators .active {
  width: 40px;
  height: 5px;
  background: #9a5341;
}
.carousel-caption {
  top: 25%;
}
.carousel-caption h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff !important;
  line-height: 55px;
}

.carousel-control.left,
.carousel-control.right {
  background: none !important;
}
.icon-prev,
.icon-next {
  font-size: 60px !important;
}
header .logo-container {
  position: absolute;
  top: 52px;
  left: 93px;
  z-index: 10;
}
/* ========================================================================
  2.3 Component: About Us
 ========================================================================== */
.about-us {
  background: url("../img/about-us-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}
.about-us .jumbo-text {
  text-transform: uppercase;
  color: #272727;
  font-size: 26px;
}
.about-us p {
  color: #484848;
  line-height: 24px;
}
.about-us img {
  margin-top: -50px;
}
.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-default > .panel-heading {
  background: #e74c3c;
  color: #f3eff0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #d7d7d7, -1px -1px 1px #d7d7d7;
}
.panel-heading {
  padding: 0;
}
.panel-title > a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
}
.collapsed {
  background: #ededed !important;
  color: #222;
}
.collapsed strong,
.collapsed .state {
  color: #222222;
}
.state {
  font-size: 18px;
  line-height: 18px;
}
/*Our Worksand Our Skills */
section {
  position: relative;
}
.page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #FFF url(../img/page-loader.gif) center center no-repeat;
}
.devider {
  width: 100%;
  height: 23px;
  background: url('../img/devider.png') no-repeat center center;
  margin: 5px 0 10px;
}
.thumbnail {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #DDD;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.parallax {
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
    background-size: cover;
}
.active_prot_menu a, .portfolio_menu ul li a:hover {
    background: #4fbfa8 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.portfolio_single_content div{
  background: none repeat scroll 0 0 rgba( 154, 83, 65, 0.95);
}
/* ===== Begin text colors ===== */
.text-main { color: #363940; } /* Theme main color */
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }
/* ===== Begin progress bar ===== */
.skill-bar {
}
.progress {
  overflow: visible;
  height: 25px;
  border-radius: 0px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .percent {
  position: relative;
  background-color: #222;
  padding: 7px;
  color: #FFF;
  top: -23px;
}
.progress .percent:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid #222;
}
.progress-bar {
  font-size: 10px;
  line-height: 7px;
  text-align: right;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #000;
}
.progress-lebel h5{
  margin-bottom: 10px;
  letter-spacing: 2px;
}
/* ===== End progress bar ===== */
/* ===== Begin extra-space ===== */
.extra-space-m {
  width: 100%;
  height: 20px;
}
.extra-space-l {
  width: 100%;
  height: 40px;
}
.extra-space-xl {
  width: 100%;
  height: 60px;
}
.extra-space-xxl {
  width: 100%;
  height: 80px;
}

/* ===== Begin Portfolio===== */
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{
  text-align: center;
  overflow: hidden;
  margin-top:22px;
  margin-bottom:48px;
}
.portfolio_menu ul{
  list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
  color: #363940;
  background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio_content{}
.portfolio_single_content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom:30px;
  overflow:hidden;
  
}
.portfolio_single_content:hover img{
   -o-transform: scale(2);
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
   -ms-transform: scale(2);
   transform: scale(2);
}
.portfolio_single_content img{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  cursor:pointer;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  -ms-transition:all 1s;
  transition:all 1s;
}
.portfolio_single_content .canv{
  width:100% !important;
  height:100% !important;
}
.portfolio_single_content div+div{
  background: none repeat scroll 0 0 rgba(255,255,255,.9);
  bottom: -100%;
  color: #FFC000;
  font-weight: bold;
  left: 0;
  margin: 0;
  min-height: 90px;
  padding:31px 5px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 12;
  border-top:0;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
  text-align:center;
  transform:scale(0);
  transition:all .6s;
  opacity:0;
}
.portfolio_single_content:hover div{
  transform:scale(1);
  opacity:1;
}
.portfolio_single_content div a{
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40%;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.portfolio_single_content div span{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
/* ===== End Portfolio===== */

/* ===== Begin page header ===== */
.page-header {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}
.page-header h2 {
  text-transform: uppercase;
}
p.subtitle {
  letter-spacing: 2px;
  margin-top: 10px;
}
/* ===== End page header ===== */

/*End of Our Works and Our Skills*/



/*FLAT ICON OVER WRITE*/

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family    : Flaticon;
    font-size      : 20px;
    font-style     : normal;
    margin-left    : 0;
}
