.active_prot_menu a, .portfolio_menu ul li a:hover {
    background: #4fbfa8 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.portfolio_single_content div{
  background: none repeat scroll 0 0 rgba( 154, 83, 65, 0.95);
}
/* ===== Begin Portfolio===== */
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{
  text-align: center;
  overflow: hidden;
  margin-top:22px;
  margin-bottom:48px;
}
.portfolio_menu ul{
  list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
  color: #363940;
  background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    outline: medium none !important;
}
.portfolio_content{}
.portfolio_single_content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom:30px;
  overflow:hidden;
}
.portfolio_single_content:hover img{
   -o-transform: scale(2);
   -webkit-transform: scale(2);
   -moz-transform: scale(2);
   -ms-transform: scale(2);
   transform: scale(2);
}
.portfolio_single_content img{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  cursor:pointer;
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  -ms-transition:all 1s;
  transition:all 1s;
}
.portfolio_single_content .canv{
  width:100% !important;
  height:100% !important;
}
.portfolio_single_content div+div{
  background: none repeat scroll 0 0 rgba(255,255,255,.9);
  bottom: -100%;
  color: #FFC000;
  font-weight: bold;
  left: 0;
  margin: 0;
  min-height: 90px;
  padding:31px 5px 0 10px;
  position: absolute;
  width: 100%;
  z-index: 12;
  border-top:0;
}
/*.portfolio_single_content:hover div+div{bottom: 0;}*/
.portfolio_single_content div{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
  text-align:center;
  transform:scale(0);
  transition:all .6s;
  opacity:0;
}
.portfolio_single_content:hover div{
  transform:scale(1);
  opacity:1;
}
.portfolio_single_content div a{
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40%;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.portfolio_single_content div span{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.portfolio_content{}
.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}
/* ===== End Portfolio===== */
.active_prot_menu2 a, .portfolio_menu2 ul li a:hover {
    background: #4fbfa8 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.portfolio_single_content div{
  background: none repeat scroll 0 0 rgba( 154, 83, 65, 0.95);
}
/* ===== Begin Portfolio===== */
.portfolio_area{}
.portfolio{}
.portfoloi_top{}
.portfoloi_content_area{}
.portfolio_menu{
  text-align: center;
  overflow: hidden;
  margin-top:22px;
  margin-bottom:48px;
}
.portfolio_menu2 ul{
  list-style: none outside none;
    text-align: center;
}
.portfolio_menu2 ul li{
    display: inline-block;
}
.portfolio_menu2 ul li a{
  color: #363940;
  background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    outline: medium none !important;
}
.portfolio_content{}
.portfolio_single_content{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom:30px;
  overflow:hidden;
}
/* Added by siva*/

.active span {
  background-color: green !important;
}
.owl-buttons {
  display: none;
}
.add_to_cart_section {
  display: none;
  color: #4f8a10;
  font-size: 16px;
  margin: 5px 0 2px;
  text-align: center;
}
/* Added by siva*/
.active span {
  background-color: green !important;
}
.owl-buttons {
  display: none;
}
.updations_status, .oreder_status {
  color: #4f8a10;
  display: none;
  font-size: 20px;
  margin: 0 0 10px;
  text-align: center;
}
.filtering_sections span{
  /*background: #fff none repeat scroll 0 0;*/
  color: #fff;
  margin-left: 10px;
  padding: 0 5px;
  text-transform: capitalize;
  font-weight: 500;
}
.filtering_sections a{
  cursor: pointer;
}
.pagination a {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #4fbfa8;
  line-height: 1.42857;
  padding: 6px 12px;
  text-decoration: none;
}
.cb {
  clear : both;
}
.pagination span {
  background-color: #4fbfa8;
  color: #ffffff;
  border: 1px solid #dddddd;
  line-height: 1.42857;
  padding: 6px 12px;
  text-decoration: none;
}
.loading {
  background: #fff none repeat scroll 0 0;
  height: 100%;
  opacity: 0.4;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.ajax_loader {
  display: inline-block;
  position: absolute;
  top: 49%;
}
/*.checkout_button {
  background-color: #4fbfa8;
  border-color: #41b39c;
  color: #ffffff;
}
.checkout_button:hover {
  background-color: #3da892;
  border-color: #318675;
  color: #ffffff;
}
*/
#checkout_order {
  display: none;
}
.error_field {
  border: 1px solid #c24641;
}
.error_field, .error_mail_field, .error_mobile_field, .error_zip_field{
  border: 1px solid #c24641;
}
.error_msg {
  font-size: 14px;
  text-align: center;
  color : #c24641;
  display: none;
}
.registeration_status {
  color: #c24641;
  display: none;
  margin: 10px 0;
  text-align: center;
}
.attribute_status {
  color: #c24641;
  display: none;
  margin: 10px 0;
  text-align: center;
}
.login_menu {
  color: #fff;
}
.basket_product_items {
  cursor: pointer;
}
.images_alignment,.position_images,.product_position {
  display: none;
}
.dummy_dropdown {
  display: none;
}
.change_password_form {
  display: none;
}
.change_password {
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
}
.product_loader {
  background: rgba(0, 0, 0, 0) url("../img/ajax-loader.gif") no-repeat scroll center center !important;
  background-color: #fff !important;
}
.orders_list {
  display: none;
}
.orders_list td{
  background-color: #ebedef;
}
.order_status_img img {
  height: 50px;
  width : 50px;
}
.order_status_total {
  text-align: right;
}
.order-box {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.order-box-header {
  background: #ebeded none repeat scroll 0 0;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
}
.order-box-content {
  padding: 15px;
}
.latest_products a {
  cursor: text;
}

/* Ended by siva*/
#owl-demo .owl-item > div img {
    display: block;
    width: 235px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}
#owl-demo .owl-item > div {
    padding: 0px 2px;
    margin-left: 23px !important;
}
@media(max-width:767px){
#owl-demo .owl-item > div {
    margin-left: 80px !important;
}
}
.selected {
    background-color: #4fbfa8 !important;
    color: #fff !important;
}
.hide {
    display: none;
}
.product_category_name {
    margin-bottom: 50px !important;
    margin-top: 20px !important;
    text-align: center !important;
}
.product_category_name a {
    outline: none;
    padding: 10px;
    text-decoration: none;
    color: #555;
    text-transform:uppercase;
}
.home_product_images {
	position: relative;
}
.home_product_images::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(79,191,168,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.home_product_images:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 10%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
.latest_product_images {
	position: relative;
}
.latest_product_images::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(79,191,168,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.latest_product_images:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
.listing_images {
	position: relative;
}
.listing_images::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(79,191,168,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.listing_images:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
.menu_category{
    max-height: 365px !important;
    /*min-height:365px !important;*/
    overflow-y: auto !important;
}
.category_name{
	font-size: 20px;
	font-weight:500;
	color:#777777;
	
}
.drpdwn-icon {
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    border-top: 7px solid !important;
    color: #fff !important;
    display: inline-block !important;
    height: 0 !important;
    margin-left: 2px !important;
    vertical-align: middle !important;
    width: 0 !important;
     cursor: pointer;
}
.menu > .users-dropdownu{
    display: block !important;
}
.users-dropdown {
    background-clip: padding-box !important;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 4px !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
    display: none;
    float: left !important;
    font-size: 14px !important;
    /*left: 0 !important;*/
    list-style: outside none none !important;
    margin: 2px 0 0 !important;
    min-width:110px !important;
    padding: 5px 0 !important;
    position: absolute !important;
    text-align: left !important;
    top: 100% !important;
    z-index: 1000 !important;
    /*margin-left:280px !important;*/
    
}
.dropdown-menu{
	/*left:0 !important;*/
}
.users-dropdown a{
	background-color: #fff !important;
	color: #555 !important;
}
.modal-backdrop{
	z-index: 997 !important;
}
.dropdown-menu.users-dropdown a:hover{
	background-color:#4fbfa8 !important;
	color:#fff !important;
}
.form_actions{
	text-align:center;
}
.login_button{
	display: inline-block !important;
	float:left;
}
.frgt_pwd{
	float:right;
	margin-bottom: 10px;
}
#login{
	display:block;
}
#forget_password{
	display:none;
}
.form2_actions {
    text-align: center !important;
}
.cancel {
    display: inline-block;
    float: left;
     font-size: 15px;
    margin-top: 5px;
     margin-left: 45px;
}
.retrive_pwd{
	 font-size: 13px !important;
    /*margin-bottom: -30px;*/
    /*margin-top: 20px !important;*/
    padding: 5px !important;
    text-align: center !important;
    /*text-align:right !important;*/
    float:right !important;
}
.social_icons{
    margin-left: 75px;
    /*margin-top: 30px;*/
    position: relative;
}    
.product_attributes {
    text-align: center;
    text-transform: capitalize;
   }
   .not_available{
   	background-color: #fff !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-left: 30px !important;
    padding: 20px !important;
    width: 93% !important;
    color:#555;
   }
.attr_value{
	padding:3px;
}
.email_id{
	color:#555 !important;
}
.fb{
  height: 30px;
}
