.fl{
	float:left;
}
.image_icon{
	height: 44px;
    width: 43px;
    cursor: pointer;
    margin-left:5px;
    margin-top:5px;
}
.edit_category_image{
	cursor: pointer;
    height: 50px;
    /*margin-left: 11px;*/
    margin-top: 5px;
    width: 50px;
    position: relative;
}
.error_msg_reg{
  color: #ff0000;
  font-size: 12px;
}
@media(max-width: 640px){
    .edit_category_image{
    cursor: pointer;
    height: 50px;
   /* margin-left: 11px;*/
    margin-top: 5px;
    width: 50px;
    position: relative;
}
.edit-catpro-image {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    width: -moz-max-content;
    margin-top: 10px;
}
}
.product_tab{
	background-color: #4fbfa8;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 15px;
    /*width: 981px;*/
   width:95%;
}
.attribute_block label{
	width: 125px !important;
    margin-top: 10px ;
}
.attribute_block select{
    margin: 0 7px 0 0;
    padding-left: 4px;
}
/*.attibute_add{
	margin-left: 10px;
    margin-top: 50px;
}*/
.attribute_action_btn{
    margin-left: 10px;
    /*margin-top: 60px;*/
    font-size: 12px;
    padding: 5px;
}
/*.clone_attribute{
	display: block;
}*/
.attribute_main_block{
    display: none;
}
.attribute_group{
	border: 1px solid #cccccc;
    height: auto;
    padding: 10px;
    width: 760px;
    margin-bottom:10px;
}
#delete_btn{
	text-align: center;
}
.scroll{
	display:block;
}
/*Added by Velpandi*/
.edit-catpro-image {
     padding: 0 0 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    max-width: 295px;
    margin-top: 10px;
}
.product-cat-images{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-left:0px;
}
.close-icon a{
    background-color: #333333;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    left: -15px;
    opacity: 0.7;
    padding: 3px;
    position: relative;
    /*top: -18px;*/
}
.attribute-clone{
    margin-bottom: 10px;
}
.add-values2{
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.product-btns{
    font-size: 12px;
}
.add-rmv-btn {
    float: left;
    margin-top: 12px;
}
.clr-screen{
	clear:both;
}
.cloned-class{
	margin-top:10px !important;
	/*margin-bottom:10px;*/
}
/*#footer {
	width:100%;
    position:relative !important;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-top: 50px !important;
}*/
.users-icons{
	color:#4FBFA8;
}
.row{
	margin-right:0px !important;
}
.login-btn{
	background-color:#4FBFA8 !important;
	border-color:none !important;
	color: #fff !important;
}
.btn-primary{
	background-image:none !important;
	border: none !important;
}
.scroll{
	display:block;
	overflow-x:auto;
	width: 100%;
}
.btn-info {
    background-image: none !important;
    background-repeat: no-repeat;
    border-bottom: 1px solid #022241;
    filter: none;
    font-size: 12px;
    padding: 5px 5px;
}
.btn-danger {
    background-image: none !important;
    background-repeat: no-repeat;
    border-bottom: 1px solid #9a161a;
    filter: none;
    font-size: 12px;
    padding: 5px 5px;
}
.label-boxes{
	width:232px !important;
}
.product-details{
	/*width:100% !important;*/
	max-width:300px !important;
	min-width: 240px !important;
}
.table-content{
   display: block !important;
   overflow-x:auto !important;
   width: 1000px !important;
}
.product-details-title{
    max-width: 200px !important;
    min-width: 140px !important;
}
.category-product-image{
	display:flex !important;
}
.select-category-images{
	width:230px;
}
/*End by Velpandi*/
.dataTables_wrapper{
	overflow-x: auto !important;
    width: 100% !important;
     margin-top: 50px !important;
}
.dataTables{
	width:1000px;
}
#add {
   float:right;
   margin: 0 18px 0 0;
}
.table-bordered {
    width: 98.5%;
}
.dataTables_filter {
    float: right;
}
.product{
	width: 100%;
	max-width:300px !important;
	min-width: 250px !important;
}
.popup_btn{
	width:50px;
}
.popup_tx h5{
	font-size: 18px;
}
.product_small{
	width: 100%;
	max-width:150px !important;
	min-width: 140px !important;
}
.group_action{
    position: relative;
    right: -150px;
    text-align: right;
}
/*.attibute_remove_btn{
    display: none;
}*/
.attribute_btn_disabled{
    cursor: default;
    pointer-events: none;
    background-color: #ffffff;
}
.attribute_error{
    border : 1px solid red;
}
/*Added by velpandi*/
.footer_content {
    height: 100% !important;
    min-height: 535px !important;
}
.attribute_duplicate_message,.attribute_group_message{
  display: none;
  color: #ff0000;
  font-size: 12px;
}
.upload_limit {
    color: gray;
    font-size: 10px;
}
/* Style for multi select dropdown in subcategory and recipient page */
.mutliSelect {
  position: relative;
}
.select_multiple_option i {
   float: right;
}
.mutliSelect span {
   padding-left: 12px;
   color: #555;
}
.select_multiple_option a {
   background-color: #fff;
   border: 1px solid #ccc;
   cursor: pointer;
   display: block;
   line-height: 18px;
   max-width: 280px;
   min-height: 25px;
   overflow: auto;
   padding: 8px 20px 5px 10px;
   text-decoration: none;
}
.select_multiple_option span{
    color:#555 !important;
}
.mutliSelect ul {
  background-color: #fff;
  /*border: 0;*/
  color: #fff;
  /*display: none;*/
  left: 0px;
  padding: 2px 15px 2px 5px;
  top: 2px;
  max-width: 280px;
  list-style: none;
  height: 136px;
  overflow: auto;
  width: 100%;
  border-top: 0; 
  border-right: 1px solid #ccc;  
  border-bottom: 1px solid #ccc; 
  border-left: 1px solid #ccc;
}
.mutliSelect ul li{
   margin-bottom: 5px;
}
.mutliSelect input,.mutliSelect span {
   cursor: pointer;
}
.error_admin_check{
   border: 1px solid red !important;
   margin-right: 439px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #4fbfa8 !important;
	color:#fff !important;
}
.dropdown-menu{
	min-width:95px !important;
}
.alert-info{
	/*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
	background-color:#f2f8f8 !important;
	width:95% !important;
	/*border: 1px solid #ff0000;*/
	border-color:none !important;
}
.breadcrumb{
	width:99% !important;
}
.fill_symbol{
	color:#ff0000;
}
.close-icon2 a{
    background-color: #333333;
    border-radius: 25px;
    color: #fff;
    font-size: 10px;
    left: -18px;
    opacity: 0.7;
    padding: 3px;
    position: relative;
    top: -17px;
}
.product_categories_name{
	display: block;
    /*height: 100%;*/
    max-height: 85px;
    min-height: 85px !important;
    overflow-y: auto;
}
